<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="termsandconditions" appConnect="local" -->
<meta name="ac:route" content="/termsandconditions">
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Terms and Conditions</h1>
        </div>
    </div>
</div>